body {
    height: 599px;
    background-color: rgb(168, 75, 38);
}

.corpo {
    background-color: rgb(54, 54, 54);
    padding: 30px 3px;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.877);
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}


.calculadora {
    background-color: black;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    margin: auto;
}

.result-limpar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 271px;
    background-color: black;
    margin-bottom: 2px;

}

#resultado {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 63px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
}

.bttn {
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px;
    width: 65px;
    height: 65px;
    margin: 2px;
    text-align: center;
    border: 1px solid rgba(167, 167, 167, 0.459);
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bttn:hover {
    background-color: rgb(26, 25, 25);
}

.bttn-limp {
    cursor: pointer;
    width: 65px;
    height: 65px;
    border: 1px solid rgb(136, 94, 94);
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(51, 12, 12);
    color: white;
}

.bttn-limp:hover {
    background-color: rgb(83, 16, 16);
}

.linha {
    display: flex;
    justify-content: center;
}

#botao {
    cursor: pointer;
    background-color: rgba(41, 40, 40, 0.479);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#botao:hover {
    background-color: rgb(53, 47, 47);
}

#botao-igual {
    cursor: pointer;
    background-color: rgb(3, 15, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#botao-igual:hover {
    background-color: rgb(1, 29, 8);
}